html *{
	box-sizing: border-box;
}
body{
	background-color: black;
}
.hide{
	display: none;
}
#pizi-chat{
	width: 600px;
	height: 600px;
	resize: both;
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
	margin: auto;
	box-shadow: -1px 2px 8px 1px rgba(250, 250, 250, 0.6); 
}
#chat{
	width: calc(100% - 180px);
	height: 100%;
	float: left;
	border-radius: 5px 0 0 5px;
}
#render{
	height: calc(100% - 80px);
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #777;
	opacity: 0.7;
	border-radius: 5px 0 0 0;
}

#message{
	width: 100%;
	height: 60px;
	resize: none;
	margin: 0;
	border: 0;
	padding: 0;
	text-indent: 5px;
}

#poke{
	background-color: darkred;
	font-weight: bold;
	opacity: 0.88;
	color: #CCC;
	text-align: center;
	height: 20px;
	border-radius: 0 0 0 5px;
}
#poke:hover{
	opacity: 1;
	text-align: center;
	height: 20px;
}

 /* Messages */
.received .sent{
	margin: 10px;
	font-size: 1em;
	line-height: 1em;
}
.sent > span, .received > span{
	opacity: 1;
	padding: 10px;
	border-radius: 10px;
	white-space: pre-wrap;
}
.sent > span{
	color: white;
	background-color: #444;
	float: right;
}
.received > span{
	color: #333;
	background-color: lightgrey;
	float: left;
}
/* Sender */
.sent > div, .received > div{
	margin: 0;
	font-size: 0.8em;
	height: 15px;
	line-height: 15px;
	color: white;
}
.sent > div{
	text-align: right;
	padding-right: 10px;
}
.received > div{
	padding-left: 10px;
}
.empty{
	clear: both;
}
/* Connected Panel */
#connected{
	float:left;
	height: 100%;
	background-color: #333;
	color: #999;
	border-radius: 0 5px 5px 0;
	width: 180px;
}
#connected > span{
	background-color: #999;
	width: 100%;
	color: #333;
	margin: 0;
	padding: 0 5px;
	float: left;
	border-radius: 0 5px 0 0;
}
#connected > div{
	padding-top: 5px;
	padding-left: 5px;
}